// _variables.scss

// Colours
$primary-color: #3498db;
$secondary-color: #2980b9;
$background-color: #f8f9fa;
$sqr-black-color: #160F26;
$--Brand-Seqera-brand-Seqera-brand:#160F26;

// Tipography
$base-font: 'Inter', sans-serif;
$heading-font: 'Degular', serif;

// Spacing
$base-spacing: 16px;